<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение книги</title>
    <style type="text/css">
        div
        {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div>
    <form id="edit-form" th:action="@{/edit(id=${book.getId()})}" th:method="post">
        <h2>Изменение книги</h2>

        <div class="row">
            <label for="title-input">Название:</label>
            <input id="title-input" name="title" type="text"
                   th:value="${book.title}" required="required"/>
        </div>

        <div class="row">
            <label for="genre-input">Жанр:</label>
            <input id="genre-input" name="genre" type="text"
                   th:value="${book.genre.name}" required="required"/>
        </div>

        <div>
            <h3>Автор</h3>
        </div>

        <div class="row">
            <label for="author-first-name-input">Имя:</label>
            <input id="author-first-name-input" name="first-name" type="text"
                   th:value="${book.author.firstName}" required="required"/>
        </div>

        <div class="row">
            <label for="author-second-name-input">Фамилия:</label>
            <input id="author-second-name-input" name="second-name" type="text"
                   th:value="${book.author.secondName}" required="required"/>
        </div>

        <div class="row">
            <label for="author-birthday-input">День рождения:</label>
            <input id="author-birthday-input" name="birthday" type="date"
                   th:value="${book.author.birthday}" required="required"/>
        </div>

        <div class="row">
            <button type="submit">Сохранить</button>
        </div>
    </form>
</div>
</body>
</html>